@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
  font-family: 'Lato', sans-serif;
  width:100%;
  letter-spacing: 1px;
  margin:0px;
  padding:0px;
}

button, #squadBtn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}

/* ///////   status section   ///////////*/ 

#status-section {
  background-color: rgb(23, 37, 67);
  padding: 2em;
  color: white;
}

#status-section h1{
  text-align: center;
  margin:50px 0 40px 0;
  font-weight: 900;
  font-size: 2em;
}

#status-container{
  display: flex;
  width:80vw;
  margin:auto;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: space-between;
}

#status-container div{
  display: flex;
  align-items: center;
  padding:10px;
}

#status-container span{
  background-color: rgb(98, 110, 136);
  width:40px;
  border-radius: 10px;
  margin-left:5px;
  font-weight: 900;
  padding:5px;
  text-align: center;
}

/* ///////   student list section   ///////////*/ 

#student-list-container {
  background-color: rgb(242, 223, 221);
  margin:0;
  padding:0 0 200px 0;
}

#student-list-container span {
  color: rgb(23, 37, 67);
}

/*Sorting and filtering*/

#sorting-filtering-container{
  display: flex;
  flex-wrap: wrap;
  padding:50px 0 50px 0;
  margin:auto;
  justify-content: space-around;
  width:80vw;
}

#sorting, #filtering{
  display: flex;
  align-items: center;
}

#sorting *, #filtering *{
  margin-right:10px;
}

#sorting button, #filtering button, #expel-button, #squadBtn{
  background-color: rgb(240, 207, 204);
  border-radius: 10px;
  margin-left:5px;
  font-weight: 900;
  padding:8px;
  text-align: center;
}

#sorting button:hover, #filtering button:hover , #expel-button:hover{
  background-color: rgb(240, 189, 184);
  transition: background-color 0.3s ease;
}

.selected{
  background-color: rgb(236, 166, 159) !important; 
}

/*Student list*/

#list {
  margin:auto;
  justify-content: space-evenly;
  width:70vw;
}

#list:hover {
  cursor: pointer;
}

#list td {
  padding:1em;
  text-align: left;
}

th {
  text-align: left;
}

table,
td {
  border: 1px solid rgb(23, 37, 67);
  border-collapse: collapse;
}

/*Modal*/

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding:1.5em;
  left: 0;
  top: 0;
  width: 20em;
  height: 22em;
  opacity: 1;
  margin: 12% 42%;
  border-radius: 10px;
  transition: opacity 0.9s ease;
}

#modal img {
  margin-top: 1em;
}

#closeBtn {
  font-size: 2em;
  float: right;
  cursor: pointer;
}

#content {
  margin: 15px 0 15px 0;
 display: flex;
 flex-direction: column;
}

#content span {
  padding:2px 0;
}

#squadBtn {
  background-color: white;
  color: black;
}

#quest {
  width: 20%;
  float: right;
}

#impossible {
  width: 20em;
  height: 7em;
  background-color: white;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 28em;
  margin-top: 20em;
  display: none;
  border-radius: 1em;
}

#impossible p {
  text-align: center;
  margin-top: 2.6em;
}

