@import url("https://fonts.googleapis.com/css?family=Sigmar+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

#firstHalf {
  background-color: rgb(23, 37, 67);
  padding: 2em;
  color: whitesmoke;
}

h1 {
  font-family: "Sigmar One", cursive;
}

.heading {
  font-family: "Sigmar One", cursive;
  font-size: 0.2em;
}

p,
td,
th,
button,
span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.91em;
}

#Nmbrs span {
  padding-right: 0.9em;
}

.heading {
  font-size: 1.3em;
}

#secondHalf {
  background-color: rgb(242, 223, 221);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-areas: "sorting-area ." "table-area  modal-area ";
}

#sorting {
  grid-area: sorting-area;
  margin-left: 2.1em;
}

#filtering {
  grid-area: sorting-area;
  margin-left: 26.5em;
}

#sorting,
#filtering {
  padding-top: 2em;
  padding-right: 1em;
  margin-bottom: 2em;
}

#sorting :hover,
#filtering :hover,
button:hover {
  background-color: rgb(247, 182, 176);
}

#list {
  margin-left: 2.1em;
  grid-area: table-area;
  margin-bottom: 4em;
}

#list td {
  padding: 0.7em;

  text-align: left;
}

th {
  text-align: left;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

button {
  background-color: rgb(247, 200, 197);
  border: none;
  color: white;
  padding: 0.2em 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
}

#modal {
  display: none;
  z-index: 1; /* Sit on top */
  margin-left: -31.9em;
  left: 0;
  top: 0;
  width: 20em;
  height: 22em;
  background-color: white;
  grid-area: modal-area;
  padding-left: 1em;
}

#modal img {
  margin-top: 1em;
}

#closeBtn {
  font-size: 2em;
  float: right;
  cursor: pointer;
  margin-right: 0.2em;
}

#content {
  margin-top: 1em;
  padding: 0.2em;
}

#squadBtn {
  background-color: lavenderblush;
  color: black;
  border: none;

  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  margin-top: 1em;
}

#quest {
  width: 20%;
  float: right;
}

#impossible {
  width: 20em;
  height: 7em;
  background-color: white;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 28em;
  margin-top: 18em;
  display: none;
  border-radius: 2.5em;
}

#impossible p {
  text-align: center;
  margin-top: 2.6em;
}

/*This is a slightly modified code snippet from here: https://codepen.io/matchboxhero/pen/JrLJeb?editors=1100*/
#snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snowToplayer {
  transform: translateY(-768px);
  animation: fall 5.5s linear;
  fill: lemonchiffon;
}

#snowBottomlayer {
  transform: translateY(-768px);
  fill: lemonchiffon;
  animation: fall 8s linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

/* End of code snippet from here: https://codepen.io/matchboxhero/pen/JrLJeb?editors=1100*/
